@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@font-face {
	font-family: 'SegoeUIBlack';
	src: url('../fonts/seguibl.eot');
	src: local('seguibl'), url('../fonts/seguibl.woff') format('woff'), url('../fonts/seguibl.ttf') format('truetype');
}