/* fonts */
@import "fonts";
/*-------*/

// variables //
$dFount: "Roboto";
$dSize: 1230px;
$dPad: 15px;
//------------//

/* zero style */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{font-family:$dFount;height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
.ibg img{display: none;} 
/*------------------*/

/* common */
body {
	&.lock {
		overflow: hidden;
	}
	overflow-x: hidden;
}
.container {
	max-width: $dSize;
	margin: 0 auto;
	padding: 0 $dPad;
	display: flex;
	align-items: center;
}
.title {
	font-weight: 300;
	/* white title */
	&.w {
		color: #f4f4f4;
		font-size: 64px;
		letter-spacing: 2.56px;
		span {
			font-weight: 700;
		}
	}
	/* black title */
	&.b {
		color: #5a5a5a;
		font-size: 48px;
		letter-spacing: 1.44px;
		span {
			color: #2ecc71;
		}
	}
}
.text {
	font-size: 18px;
	font-weight: 300;
	line-height: 32px;
	letter-spacing: 0.54px;
	&.w {
		color: #f4f4f4;
	}
	&.b {
		color: #5a5a5a;
	}
}
.link-get-app {
	border-radius: 21px;
	background-color: #ffffff;
	display: inline-block;
	color: #2ecc71;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.72px;
	box-sizing: border-box;
	transition: all 0.3s ease 0s,;
	&:hover, &:active {
		background-color: #F9EE80 !important;
		color: #857912 !important;
	}
}
.parallax {
	position: absolute;
	width: 100%;
	@media (max-width: 767px) {
		display: none;
	}
}
/*-------*/

.header {
	padding: 23px 0 0 0;
	background-color: #2ecc71;
	@media (max-width: 767px) {
		min-height: 58px;
		padding: 0;
		background-color: #208C4E;
		position: fixed;
		z-index: 50;
		width: 100%;
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 767px) {
			height: 58px;
		}
	}
	&__logo {
		a {
			font-family: 'SegoeUIBlack';
			color: #f4f4f4;
			font-size: 39px;
			font-weight: 900;
			font-style: italic;
			letter-spacing: 1.92px;
			line-height: 50px;
		}
	}
	&__nav {
		display: flex;
		align-items: center;
		.link-get-app {
			padding: 12px 36px;
		}
	}
	&__links {
		@media (max-width: 767px) {
			display: none;
		}
		a {
			color: #fefefe;
			font-size: 18px;
			letter-spacing: 0.72px;
			position: relative;
			margin: 0 49px 0 0;
			@media (max-width: 932px) {
				margin: 0 20px 0 0;
			}
			&:after {
				content: '';
				display: block;
				height: 2px;
				width: 0;
				background-color: #fefefe;
				position: absolute;
				bottom: -2px;
				left: 50%;
				transition: all 0.3s ease 0s;
			}
			&:hover:after {
				left: 0;
				width: 100%;
			}
		}
	}
	&__link {
		&.link-get-app {
			&:after {
				display: none;
			}
			@media (max-width: 767px) {
				color: #208C4E;
			}
			@media (max-width: 459px) {
				display: none;
			}
		}
	}
	&__burger {
		display: none;
		@media (max-width: 767px) {
			flex: 0 0 35px;
			display: block;
			position: relative;
			height: 20px;
			z-index: 51;
			span {
				position: absolute;
				background-color: #fff;
				left: 0;
				width: 100%;
				height: 2px;
				top: 9px;
				transition: transform 0.3s ease 0s;
			}
			&.active {
				span {
					transform: scale(0);
				}
			}
			&:before, &:after {
				content: '';
				background-color: #fff;
				position: absolute;
				width: 100%;
				transition: top 0.3s ease 0s, bottom 0.3s ease 0s, transform 0.3s ease 0s;
			}
			&:before {
				top: 0;
				height: 2px;
			}
			&:after {
				bottom: 0;
				height: 2px;
			}
			&.active:before {
				transform: rotate(45deg);
				top: 9px;
			}
			&.active:after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}
	}
}

/* burger */
@import "burger";
/*-------*/

/* content */
.header-menu {
	transition: top 0.3s ease 0s;
	content: '';
	position: fixed;
	height: 100vh;
	width: 100%;
	top: -100%;
	background-color: #f4f4f4;
	overflow: auto;
	display: flex;
	flex-direction: column;
	padding: 50px 15px 15px 15px;
	&.active {
		@media (max-width: 767px) {
			top: 0;
		}
	}
	a {
		color: #208C4E;
		font-size: 25px;
		letter-spacing: 0.72px;
		position: relative;
		margin: 30px 0 0 0 !important;
	}
}
.home {
	padding: 77px 0 0 0;
	background-color: #2ecc71;
	overflow: hidden;
	@media (max-width: 767px) {
		padding: 58px 0 0 0;
	}
	.container {
		position: relative;
		@media (max-width: 767px) {
			align-items: flex-end;
		}
		@media (max-width: 576px) {
			flex-direction: column;
		}
	}
	&__parallax {
		top: 0;
		min-height: 903px;
		pointer-events: none;
	}
	.parallax {
		&__item {
			user-select: none;
			position: absolute;
			&-1 {
				left: -150px;
				top: 200px;
			}
			&-2 {
				top: 80px;
				left: 38%;
			}
			&-3 {
				z-index: 1;
				left: 44%;
				bottom: -40px;
				@media (max-width: 1110px) {
					left: 14%;
				}
			}
			&-4 {
				right: 16%;
				bottom: 140px;
				@media (max-width: 1366px) {
					display: none;
				}
			}
			&-5 {
				right: 36px;
				top: 225px;
			}
		}
	}
	&__left {
		margin: 0 140px 90px 0;
		@media (max-width: 987px) {
			margin: 0 30px 0 0;
		}
		@media (max-width: 576px) {
			margin: 0;
		}
	}
	&__logo {
		position: relative;
		left: -46px;
	}
	&__title {
		margin: 12px 0 0 0;
	}
	&__text {
		margin: 26px 0 0 0;
	}
	&__links {
		margin: 51px 0 10px 0;
		.home-links {
			&__item {
				display: inline-block;
				margin: 10px 28px 0 0;
				&:last-child {
					margin: 10px 0 0 0;
				}
			}
		}
	}
	&__right {
		@media (max-width: 576px) {
			display: flex;
			justify-content: center;
			margin: 0 auto;
		}
	}
	&__phone {
		width: 66%;
		img {
			@media (max-width: 767px) {
				width: 300px
			}
			@media(max-width: 676px) {
				width: 200px;
			}
			@media (max-width: 576px) {
				width: 100%;
			}
		}
	}
}
.features {
	padding: 92px 0 23px 0;
	.container {
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}
	&__left {
		width: 112%;
		img {
			width: 100%;
		}
		@media (max-width: 767px) {
			margin: 60px 0 0 0;
			width: 66%;
			order: 1;
		}
	}
	&__right {
		@media (max-width: 767px) {
			order: 0;
		}
	}
	&__title {
		margin: 0 0 29px 0;
		@media (max-width: 767px) {
			text-align: center;
		}
	}
	&__text {
		@media (max-width: 767px) {
			text-align: center;
		}
	}
}
.simple {
	overflow: hidden;
	position: relative;
	z-index: 0;
	background-color: #f9f9f9;
	padding: 116px 0 0 0;
	@media (max-width: 767px) {
		padding: 70px 0 0 0;	
	}
	&__parallax {
		position: absolute;
		min-height: 847px;
		z-index: -1;
		top: 0;
		pointer-events: none;
	}
	.parallax {
		&__item {
			user-select: none;
			position: absolute;
			&-1 {
				left: 10%;
				top: 360px;
			}
			&-2 {
				left: 20%;
				bottom: 0;
			}
			&-3 {
				bottom: -20px;
				right: 17.5%;
			}
			&-4 {
				bottom: 312px;
				right: 10.5%;
			}
		}
	}
	.container {
		flex-direction: column;
	}
	&__top {
		text-align: center;
	}
	&__title {
		margin: 0 0 31px 0;
	}
	&__text {
		max-width: 848px;
		margin: 0 0 111px 0;
		@media (max-width: 767px) {
			margin: 0 0 56px 0;	
		}
	}
	&__bottom {
		img {
			max-width: 100%;
		}
	}
}
.manage {
	position: relative;
	background-color: #fff;
	padding: 150px 0 143px 0;
	@media (max-width: 1023px) {
		padding: 116px 0 143px 0;	
	}
	@media (max-width: 767px) {
		padding: 116px 0 70px 0;
	}
	.container {
		justify-content: space-between;
		@media (max-width: 1023px) {
			flex-direction: column;
		}
	}
	&__left {
		margin: 0 15px 0 0;
		@media (max-width: 1023px) {
			margin: 0 0 90px 0;
			text-align: center;
		}
	}
	&__text {
		max-width: 462px;
		margin: 24px 0 0 0;
		@media (max-width: 1023px) {
			max-width: 666px;
		}
	}
	&__right {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: 524px) {
			width: 100%;
		}
	}
	&__block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0 0 60px rgba(48, 60, 17, 0.15);
		border: 1px solid rgba(145, 145, 145, 0.3);
		border-radius: 8px;
	}
	&__img {
		flex: 0 1 auto;
		img {
			width: 100%;
		}
	}
	&__info {
		flex: 1 1 auto;
	}
	&__product {
		font-weight: 700;
		color: #2ecc71;
	}
	&__info-text {
		color: #5a5a5a;
	}
	&__more-info {
		color: #2ecc71;
		font-weight: 700;
		display: flex;
		align-items: center;
	}
	&__circle {
		width: 4px;
		height: 4px;
		background-color: #b4b4b4;
		border-radius: 50%;
	}
	&__time {
		font-weight: 700;
	}
	&__time-time {
		color: #2ecc71;
	}
	&__time-format {
		color: #b4b4b4;
		text-align: right;
	}
	&__block-1, &__block-3 {
		.manage__img {
			margin: 0 19px 0 17px;
		}
		.manage__product {
			font-size: 16px;
			margin: 0 0 8px 0;
		}
		.manage__info-text {
			font-size: 12px;
			margin: 0 0 6px 0;
		}
		.manage__more-info {
			font-size: 12px;
		}
		.manage__gram {
			margin: 0 10px 0 0;
		}
		.manage__circle {
			margin: 0 10px 0 0;
		}
		.manage__time {
			color: #b4b4b4;
			margin: 0 19px 0 0;
		}
		.manage__time-time {
			font-size: 25px;
		}
		.manage__time-format {
			font-size: 16px;
		}
	}
	&__block-2 {
		.manage__img {
			margin: 0 13px 0 12px;
		}
		.manage__product {
			font-size: 20px;
		}
		.manage__info-text {
			font-size: 15px;
			margin: 9px 0 0 0;
		}
		.manage__more-info {
			font-size: 15px;
			margin: 10px 0 0 0;
		}
		.manage__gram {
			@media (max-width: 524px) {
				font-size: 12px;
			}
			margin: 0 13px 0 0;
			@media (max-width: 524px) {
				margin: 0 10px 0 0;
			}
		}
		.manage__kcal {
			@media (max-width: 524px) {
				font-size: 12px;
			}
		}
		.manage__circle {
			margin: 0 13px 0 0;
			@media (max-width: 524px) {
				margin: 0 10px 0 0;
			}
		}
		.manage__time {
			font-weight: 700;
			margin: 0 23px 0 0;
		}
		.manage__time-time {
			font-size: 31px;
		}
		.manage__time-format {
			font-size: 20px;
		}
		@media (max-width: 374px) {
			.manage__product {
				font-size: 16px;
				margin: 0 0 8px 0;
			}
			.manage__info-text {
				font-size: 12px;
				margin: 0 0 6px 0;
			}
			.manage__more-info {
				font-size: 12px;
			}
			.manage__gram {
				margin: 0 10px 0 0;
			}
			.manage__circle {
				margin: 0 10px 0 0;
			}
			.manage__time {
				color: #b4b4b4;
				margin: 0 19px 0 0;
			}
			.manage__time-time {
				font-size: 25px;
			}
			.manage__time-format {
				font-size: 16px;
			}
			.manage__img {
				flex: 0 1 100px;
				margin: 0;
			}
		}
	}
	&__block-1 {
		width: 421px;
		height: 109px;
		background-color: #fff;
		margin: 0 0 28px 0;
		.manage__time-time {
			color: #b4b4b4;
		}
		@media (max-width: 524px) {
			width: 100%;
		}
	}
	&__block-2 {
		width: 525px;
		height: 135px;
		background-color: #fff;
		margin: 0 0 28px 0;
		@media (max-width: 524px) {
			width: 100%;
		}
	}
	&__block-3 {
		width: 421px;
		height: 109px;
		background-color: #f9f9f9;
		.manage__img {
			margin: 0 10px 0 12px;
		}
		@media (max-width: 524px) {
			width: 100%;
		}
		@media (max-width: 324px) {
			.manage__product {
				font-size: 15px;
			}
		}
	}
}
.download {
	z-index: 0;
	background-color: #2ecc71;
	padding: 113px 0 102px 0;
	position: relative;
	overflow: hidden;
	&__parallax {
		pointer-events: none;
		height: 460px;
		top: 0;
		z-index: -1;
	}
	.parallax {
		&__item {
			user-select: none;
			position: absolute;
			&-1 {
				left: -70px;
				top: 47px;
			}
			&-2 {
				left: 20%;
				top: 53px;
				z-index: -2;
			}
			&-3 {
				left: 32%;
				bottom: -31px;
			}
			&-4 {
				right: 24%;
				top: 23px;
			}
			&-5 {
				right: -85px;
				bottom: -98px;
			}
		}
	}
	.container {
		flex-direction: column;
		div {
			color: #fff;
		}
	}
	&__title {
		font-size: 48px !important;
		text-align: center;
		@media (max-width: 476px) {
			font-size: 36px !important;
		}
		@media (max-width: 376px) {
			font-size: 30px !important;
		}
	}
	&__text {
		text-align: center;
		max-width: 848px;
		margin: 31px 0 0 0;
	}
	&__link {
		width: 247px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 42px;
		margin: 60px 0 0 0;
	}
}
/*------*/